a, a:visited {
    text-decoration: none;
    color: #248a83;

    &:hover, &:focus {
        color: #2f1339;
    }
}

ul{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

i {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.bold {
    font-weight: bold;
}

.title-header{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.site-content {
    width:100%
}

.button-link, .button-link:visited {
    text-transform: uppercase;
    padding: .75rem;
    background-color: #248a83;
    width: 60%;
    color: #fff;
        
    &:hover, &:focus{
        background-color: darken(#248a83, 10%);
        color: #fff;
    }
}

.read-more, .read-more:visited {
		text-transform: uppercase;
		padding: .75rem;
		background-color: #fff;
		border: 1px solid #000;
		color: #000;
		
	&:hover, &:focus{
		background-color: #248a83;
		border: 1px solid #248a83;
		color: #fff;
	}
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.required {
    color: red;
}

.comment-list {
    margin: 0;
    padding: 0;

    .comments-title {
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    article{
        display: inline-flex;
        width: 100%;
        padding-top: 1rem;
        border-top: 1px solid lightgrey;
        margin-top: 1rem;

        .comment-author-avatar{
            margin-right: 1rem;
        }
    }
}

form {
    label {
        text-transform: uppercase;
    }

    input, textarea{
        color: #666;
        background-color: #f4f4f4;
        border: 1px solid #e1e1e1;
    }

    input[type=submit]{
        width: auto;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        background-color: #248a83;
        color: #fff;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0;

        &:hover, &:focus{
            background-color: darken(#248a83, 10%);
            color: #fff;
        }
    }
}
.comment-respond {
    .reply-title {
        text-transform: uppercase;
    }

    .comment-form {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        p {
            width: 100%;
            input {
                width: 100%;
            }
        }

        #submit {
            width: auto;
        }

        .comment-form-author {
            width: 50%;
            padding-right: .5rem;
        }
        .comment-form-email {
            width: 50%;
            padding-left: .5rem;
        }
    }
}

.search-form {
    .search-field {
        color: #666;
        background-color: #fff;
        border: none;
        outline: none;
        display: none;
    }
}